@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Exo 2", sans-serif;
  color: #111111;
}

.div-container {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 1536px) {
  .div-container {
    max-width: 1280px;
    margin: 0 auto;
  }
}